body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}
.card {
  max-width: 800px;
  margin: auto;
}
.sidebar {
  border-right: 1px solid #ddd;
}

.text-info {
  color: whi;
}

.nav-link {
  color: #333;
}
.nav-link:hover {
  text-decoration: underline;
}

.cv-timeline {
  position: relative;
  margin-left: 20px;
  padding-left: 30px;
  border-left: 4px solid #0d6efd;
}

.timeline-block {
  position: relative;
  margin-bottom: 40px;
}


.timeline-date {
  font-weight: bold;
  color: #0d6efd;
  margin-bottom: 4px;
}

.timeline-content {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
}

.timeline-nav .nav-link {
  color: #555;
  font-weight: 500;
  margin-bottom: 0.75rem;
  transition: color 0.3s ease;
}

.timeline-nav .nav-link.active,
.timeline-nav .nav-link:hover {
  color: #007bff;
  font-weight: 600;
  text-decoration: underline;
}

.progress-bar {
  transition: width 1.5s ease;
  font-weight: bold;
}

.tableauPlaceholder {
  width: 100%;
  max-width: 1000px; /* Optional max width */
  margin: auto;
  overflow: hidden; /* Hide any extra overflow */

}

.tableauViz {
  width: 700px !important;
  height: 400px !important;
}
